.articles {
  width: 100%;
  height: 919px;
  box-shadow: 0 11px 13px 5px rgba(151, 157, 164, 0.1);
  margin-top: 60px;
  background: #ffffff;
  margin-bottom: 53px;

  &__title {
    display: flex;
    flex-direction: row;
    margin-left: 77px;
    padding-top: 60px;

    &-content {
      color: #010101;
      font-size: 36px;
      font-weight: 700;
      margin-left: 10px;
    }
  }

  &__article-top {
    align-self: center;
    margin: auto;
  }
}