@font-face {
  font-family: 'FiraSans';
  src: url('fira-sans.eot');
  src: url('fira-sans.eot') format('embedded-opentype');
  src: url('fira-sans.woff') format('woff');
  src: url('fira-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('fira-sans-bold.eot');
  src: url('fira-sans-bold.eot') format('embedded-opentype');
  src: url('fira-sans-bold.woff') format('woff');
  src: url('fira-sans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('fira-sans-light.eot');
  src: url('fira-sans-light.eot') format('embedded-opentype');
  src: url('fira-sans-light.woff') format('woff');
  src: url('fira-sans-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
