.image {
  display: flex;
  flex-direction: row;
  width: 1000px;
  position: relative;

  &__date {
    align-self: center;
  }

  &__title {
    align-self: center;
    font-weight: bold;
  }

  &__button {
    position: absolute;
    right: 0;
    align-self: center;
  }
}

.history {
  &__pagination {
    font-size: 4rem;
    font-weight: lighter;
    display: flex;
    flex-direction: row;

    &_selected {
      font-weight: bold;
    }
  }
}