.app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__news-login-container {
    display: flex;
    flex-direction: row;
    width: 960px;
    height: 285px;
    margin: auto;
    margin-top: 21px;
    background: transparent;
  }

}
